body {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
/*contador*/
.contador-container {
    border: 2px solid orange;
    border-radius: 2rem;
    text-align: center;
    margin: 2rem;
}
.contador {
    font-size: 2em;
    margin: 20px;
    background-color: #a3a1a8;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(255, 255, 255, 0.5);
}
.contadorbutton {
    font-size: 1em;
    color: white;
    margin: 0.1rem;
    background-color: rgb(26, 81, 201);
    border-radius: 0.5rem;
    transition: background-color 0.3 ease;
    box-shadow: 0 0 10px  rgba(255, 255, 255, 0.5);
}
.contadorbutton:hover {
    background-color: aliceblue;
    color: black;
}
/*cronómetro*/
.cronometro-container {
    border: 2px solid orange;
    border-radius: 2rem;
    text-align: center;
    margin: 2rem;
}
/*calculadoa*/
