/*contador*/
#aumentar {
    font-size: 1em;
    color: white;
    margin: 0.1rem;
    background-color: black;
    border-radius: 0.1rem;
    box-shadow: 0 0 10px rgb(red, green, blue);
}
/*cronómetro*/
