body {
    font-family:'Times New Roman';
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #fff9f9;
}
/*buton personalizado*/
.contadorbutton {
    font-size: 1em;
    height: 3rem;
    width: 9rem;
    color: white;
    margin: 1rem;
    background-color: rgb(31, 48, 85);
    border-radius: 0.90rem;
    transition: background-color 0.3 ease;
    box-shadow: 0 0 10px  rgba(196, 183, 183, 0.5);
}
.contadorbutton:hover {
    background-color: aliceblue;
    color: black;
}
/*contador*/
.contador-container {
    border-radius: 2rem;
    text-align: center;
    margin: 2rem;
}
.contador {
    font-size: 2em;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(255, 255, 255, 0.5);
}
/*cronómetro*/
.cronometro-container {
    border-radius: 2rem;
    text-align: center;
    margin: 2rem;
}
/*calculadora*/
.imput {
    color: rgb(3, 3, 3);
    background-color: rgb(255, 255, 255);
    width: 20rem;
    height: 2rem;
}